{
  
  margin: 0;
  padding: 0;
}


body{
  background-color: rgb(33, 93, 104);
}
.taxt{
  font-size: 3em;
  font-weight: 600;
  color: #fff;
  line-height: 2em;
  text-transform: uppercase;
  
  
}
img {
width: auto;
height: 400px;

padding: 50px;

}
.menu ul li a {
  text-decoration: none;
  font-size: 30px;
  color: rgb(236, 182, 182);

  display: inline-block;
  font-size: 1.5em;
  background: rgb(0, 118, 253);
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  transition: 0.2s;
}
.menu a:hover
{
  letter-spacing: 6px;
}